{% extends 'base.html' %} {% block content %}
<div class="panel-body" style="height: 800px;">
  <div class="panel">
    <h2>Query gene annotaion:</h2>

    <div class="row">
      <div class="panel-heading" style="margin-bottom: 30px;">
        <h3 class="panel-title">
          Obtain a table of a coding regin by locus
          identifier(e.g.TraesCS1D01G311400) or location.
        </h3>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <textarea
            id="genes"
            rows="6"
            class="form-control"
            value=""
            placeholder="Gene ID"
          ></textarea>
          <br />
          <button type="submit" class="btn btn-sm btn-success" id="submit">
            Search
          </button>
          <button type="reset" class="btn btn-sm btn-warning" id="reset">
            Reset
          </button>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon" style="padding: 0 11px;"
              >Chromsome:</span
            >
            <select
              class="selectpicker"
              data-width="25%"
              name="chr"
              id="select-chr"
            >
              <option value="selected" ="selected"></option>
              <option value="chr1A">chr1A</option>
              <option value="chr1B">chr1B</option>
              <option value="chr1D">chr1D</option>
              <option value="chr2A">chr2A</option>
              <option value="chr2B">chr2B</option>
              <option value="chr2D">chr2D</option>
              <option value="chr3A">chr3A</option>
              <option value="chr3B">chr3B</option>
              <option value="chr3D">chr3D</option>
              <option value="chr4A">chr4A</option>
              <option value="chr4B">chr4B</option>
              <option value="chr4D">chr4D</option>
              <option value="chr5A">chr5A</option>
              <option value="chr5B">chr5B</option>
              <option value="chr5D">chr5D</option>
              <option value="chr6A">chr6A</option>
              <option value="chr6B">chr6B</option>
              <option value="chr6D">chr6D</option>
              <option value="chr7A">chr7A</option>
              <option value="chr7B">chr7B</option>
              <option value="chr7D">chr7D</option>
              <option value="chrUn">chrUn</option>
            </select>
          </div>
          <br />
          <div class="input-group input-group-sm">
            <span class="input-group-addon" style="padding: 0 13px;"
              >Start position:</span
            >
            <input
              type="text"
              id="pos-start"
              class="form-control input-group-sm"
              name="pos_start"
              onkeyup="this.value=this.value.replace(/\D/g,'')"
              onafterpaste="this.value=this.value.replace(/\D/g,'')"
            />
          </div>
          <br />
          <div class="input-group input-group-sm">
            <span class="input-group-addon" style="padding: 0 15px;"
              >End position:</span
            >
            <input
              type="text"
              id="pos-end"
              class="form-control input-group-sm"
              name="pos_end"
              onkeyup="this.value=this.value.replace(/\D/g,'')"
              onafterpaste="this.value=this.value.replace(/\D/g,'')"
            />
          </div>
        </div>
      </div>
    </div>

    <!--     <div class="panel-heading">
      <h3 class="panel-title">
        Obtain a table of a coding regin by locus
        identifier(e.g.TraesCS1D01G311400)
      </h3>
    </div> -->
    <div class="panel-body">
      <!-- <div class="form-group">
        <span>
          <label
            >Locus Identifier:(now,you can input many genes to
            searching!)</label
          >
          <textarea
            id="genes"
            rows="5"
            class="form-control"
            value=""
            placeholder="Input Gene Symbol/Name"
          ></textarea>
        </span>
        <br />
        <button type="submit" class="btn btn-sm btn-success" id="submit">
          Search
        </button>
        <button type="reset" class="btn btn-sm btn-warning">Reset</button>
      </div> -->
      <div id="results-table"></div>
    </div>
    {% endblock %} {% block js %}
    <script src="{{ url_for('static', filename='js/dataTables.buttons.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/buttons.flash.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jszip.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/pdfmake.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vfs_fonts.js')}}"></script>
    <script src="{{ url_for('static', filename='js/buttons.html5.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/buttons.print.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/utils/tools.js') }}"></script>
    {% endblock %}
  </div>
</div>
