{% extends 'base.html' %}
{% block content %}
<div class="panel-body">
<div class="panel">
  <h2>Gene Annotaion</h2>
    <div class="panel-heading">
        <h3 class="panel-title">All gene annotion were from IWGSC RefSeq Annotation V1.0 and V1.1.</h3></br>
        <h3 class="panel-title">You can query one or more genes by input your gene list.</h3></br>
        <h3 class="panel-title">Demo: TraesCS1D01G311400,TraesCS1A02G164300</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
                <span>
                    <textarea id="genes" rows="5" class="form-control" value="" placeholder="e.g. TraesCS1D02G311400"></textarea> 
                </span>
                    <br>
                    <button type="submit" class="btn btn-sm btn-success" id="submit">Search</button>
                    <button type="reset" class="btn btn-sm btn-warning">Reset</button>
        </div>
        <div id="results-table"></div>
    </div>
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script src="{{ url_for('static', filename='js/utils/tools.js') }}"></script>
{% endblock %}
