{% extends "auth_base.html" %}

{% block content %}
<div class="page-header">
    <h1>
        Hello, {{ current_user.username }}!
    </h1>
    <h3>You have not confirmed your account yet.</h3>
    <p>
        Before you access this site you need to confirm your account by email.
        Check your inbox, you will receive an email with a confirmation link.
    </p>
    <p>
        Need another confirmation email?
        <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
    </p>
    <p>
        Verify email now?
        <a href="{{ mail }}">Click here</a>
    </p>
</div>
{% endblock %}
