{% extends 'base.html' %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/handsontable@latest/dist/handsontable.full.min.css"
/>
{% endblock %} {% block content %}

<div class="bd-callout bd-callout-warning">
  <span>Data Stats</span>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">WGS</th>
          <th scope="col">WES</th>
          <th scope="col">RNAseq</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Public</th>
          <td id="pub-wgs">0</td>
          <td id="pub-wes">0</td>
          <td id="pub-rnaseq">0</td>
        </tr>
        <tr>
          <th scope="row">Private</th>
          <td id="pri-wgs">0</td>
          <td id="pri-wes">0</td>
          <td id="pri-rnaseq">0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="bd-callout bd-callout-success">
  <span>Data Detail</span>
</div>
<div id="userData"></div>

<div class="d-flex jc-center">
  <button class="btn btn-primary m-10" id="save-change" disabled>
    Save Change
  </button>
  <button class="btn btn-warning m-10" id="save-cancel" disabled>
    Discard Change
  </button>
  <button class="btn btn-success m-10" id="export-file">Export CSV</button>
</div>
{% endblock %} {% block js %}
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<script src="{{ url_for('static', filename='js/utils/sampleData.js') }}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
