{% extends 'base_bst.html' %} {% block css %}
<link
  rel="stylesheet"
  href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
/>
{% endblock %} {% block content %}

<div class="panel-body">
  <h3>Data Statistics</h3>

  <table
    class="table"
    style="border-bottom: 1px solid #e6e6e6; margin-bottom: 20px;"
  >
    <tbody>
      <tr>
        <td>
          <strong>Public Samples</strong>
        </td>
        <td>{{ stat['pu_sample'] }}</td>
      </tr>
      <tr>
        <td>
          <strong>Private Samples</strong>
        </td>
        <td id="pr-sample">
          <a id="pr-sample-href">{{ stat['pr_sample'] }}</a>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Manage Samples</h3>
  <div id="toolbar" class="btn-group">
    <button
      id="btn_delete"
      type="button"
      class="btn btn-default"
      onclick="DeleteSample()"
    >
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>delete
    </button>
  </div>
  <table id="sample-table"></table>
</div>
{% endblock %} {% block js %}
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table-editable.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/samples.js') }}"></script>
{% endblock %}
