.DS_Store
plink.*
*.log
*.py[cod]
*.backup
*.db
migrations/*
app/static/download/
__pycache__/
supervisor.sock
*.pdf
app/static/.webassets-cache/


.git_cc
run_celery_test_*
test.py
gunicorn.pid

# vscode
.vscode
*min.css
*min.js

# gunicorn
gunicorn*pid

# viewerjs
app/static/viewerjs
