.DS_Store
plink.*
*.log
*.py[cod]
*.backup
*.db
migrations/*
app/static/download/
__pycache__/
.pytest_cache

supervisor.sock
*.pdf
app/static/.webassets-cache/


.git_cc
run_celery_test_*
test.py
gunicorn.pid

# vscode
.vscode

# gunicorn
gunicorn*pid

# viewerjs


