{% extends 'base.html' %} {% block content %}

<div class="bd-callout bd-callout-info">
  <span>Gene Selection</span>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card" style="height: 210px">
      <div class="card-body">
        <p>Input Gene ID/Symbol/Name list seperated with space or comma.</p>
        <form role="search" method="" action="#">
          <textarea
            id="gene_name"
            rows="5"
            class="form-control"
            value=""
            placeholder="Input Gene ID.(e.g TraesCS1D01G311400)"
          ></textarea>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="bd-callout bd-callout-info">
  <span>Sample Selection</span>
</div>

<div class="row mb-20">
  <div class="col-md-4">
    <div class="card" style="height: 370px">
      <div class="card-header">Sample for selection</div>
      <div class="card-body">
        <div>
          <select
            name="from[]"
            id="multi_d"
            class="form-control multi_d"
            size="10"
            multiple="multiple"
          >
            {% for sample in samples %}
            <option value="public">{{ sample }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="height: 370px">
      <div class="card-header">Selected samples</div>
      <div class="card-body">
        <div class="d-flex jc-around">
          <div class="d-flex flex-column jc-center">
            <button
              type="button"
              id="multi_d_rightSelected"
              class="btn btn-outline-success btn-sm"
              style="margin-bottom: 10px"
            >
              <span class="iconfont icon-arrow-right-filling"></span>

              ADD
            </button>
            <button
              type="button"
              id="multi_d_leftSelected"
              class="btn btn-outline-warning btn-sm"
            >
              <span class="iconfont icon-arrow-left-filling"></span>
              REMOVE
            </button>
          </div>
          <div style="flex: 1; margin-left: 10px">
            <select
              name="to[]"
              id="multi_d_to"
              class="form-control"
              size="12"
              multiple="multiple"
            ></select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-20">
  <div class="col-4">
    <input
      class="btn btn-primary btn-block"
      id="submit"
      type="submit"
      value="Submit"
    />
  </div>
  <div class="col-4"></div>
  <div class="col-4"></div>
</div>

<div id="query_hint" class="ta-center mb-20"></div>
<div id="results-box" style="display: none">
  <div id="expression-echart-container">
    <div id="results-plot" class="expression-echart-canvas"></div>
  </div>
</div>

{% endblock %} {% block js %}
<script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.8.0/echarts-en.min.js"></script>
<script src="{{ url_for('static', filename='js/utils/expr.js') }}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
