{% extends 'base.html' %} {% block css %}
<link
  href="{{ url_for('static', filename='css/tooltip.css') }}"
  rel="stylesheet"
/>
{% endblock %} {% block content %}
<div class="jumbotron">
  <div class="container">
    <h2 class="display-8">Gene Mapping Via Bulked Segregant Analysis</h2>
    <p>1. Wild Bulk and Mutant Bulk are <b>required</b>.</p>
    <p>2. Wild Parent and Mutant Parent are suggested if available.</p>
    <p>
      3. Background could help you filter out some variants, but you should be
      much careful the genetic background and phenotype of sample you selected.
    </p>
  </div>
</div>

<div class="bd-callout bd-callout-info">
  <span>Data Selection</span>
</div>

<div class="row">
  <div class="col-md-4">
    {% if pri_samples %}
    <div class="card select-from-card-double mb-10">
      <div class="card-header">My samples</div>
      <div class="card-body">
        <div>
          <select
            name="from[]"
            id="multi_d"
            class="form-control multi_d"
            size="10"
            multiple="multiple"
          >
            {% for sample in pri_samples %}
            <option value="private">{{ sample }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    {% endif %}
    <div
      class="card {% if pri_samples %} select-from-card-double {% else %} select-from-card-single {% endif %}"
    >
      <div class="card-header">Public samples</div>
      <div class="card-body">
        <div>
          <select
            name="from[]"
            id="multi_d2"
            class="form-control multi_d"
            {%
            if
            pri_samples
            %}
            size="10"
            {%
            else
            %}
            size="25"
            {%
            endif
            %}
            multiple="multiple"
          >
            {% for sample in pub_samples %}
            <option value="public">{{ sample }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <div class="card select-to-card mb-10">
          <div class="card-header">Wild Bulk (Required)</div>
          <div class="card-body">
            <div class="d-flex jc-around">
              <div class="d-flex flex-column jc-center">
                <button
                  type="button"
                  id="multi_d_rightSelected"
                  class="add-btn btn btn-outline-success btn-sm"
                >
                  <span class="iconfont icon-arrow-right-filling"></span>

                  ADD
                </button>
                <button
                  type="button"
                  id="multi_d_leftSelected"
                  class="btn btn-outline-warning btn-sm"
                >
                  <span class="iconfont icon-arrow-left-filling"></span>
                  REMOVE
                </button>
              </div>
              <div style="flex: 1; margin-left: 10px">
                <select
                  name="to[]"
                  id="multi_d_to"
                  class="form-control"
                  size="6"
                  multiple="multiple"
                ></select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card select-to-card mb-10">
          <div class="card-header">Mutant Bulk (Required)</div>
          <div class="card-body">
            <div class="d-flex jc-around">
              <div class="d-flex flex-column jc-center">
                <button
                  type="button"
                  id="multi_d_rightSelected_2"
                  class="add-btn btn btn-outline-success btn-sm"
                >
                  <span class="iconfont icon-arrow-right-filling"></span>

                  ADD
                </button>
                <button
                  type="button"
                  id="multi_d_leftSelected_2"
                  class="btn btn-outline-warning btn-sm"
                >
                  <span class="iconfont icon-arrow-left-filling"></span>
                  REMOVE
                </button>
              </div>
              <div style="flex: 1; margin-left: 10px">
                <select
                  name="to[]"
                  id="multi_d_to_2"
                  class="form-control"
                  size="6"
                  multiple="multiple"
                ></select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card select-to-card mb-10">
          <div class="card-header">Wild Parent (Optional)</div>
          <div class="card-body">
            <div class="d-flex jc-around">
              <div class="d-flex flex-column jc-center">
                <button
                  type="button"
                  id="multi_d_rightSelected_3"
                  class="add-btn btn btn-outline-success btn-sm"
                >
                  <span class="iconfont icon-arrow-right-filling"></span>

                  ADD
                </button>
                <button
                  type="button"
                  id="multi_d_leftSelected_3"
                  class="btn btn-outline-warning btn-sm"
                >
                  <span class="iconfont icon-arrow-left-filling"></span>
                  REMOVE
                </button>
              </div>
              <div style="flex: 1; margin-left: 10px">
                <select
                  name="to[]"
                  id="multi_d_to_3"
                  class="form-control"
                  size="6"
                  multiple="multiple"
                ></select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card select-to-card mb-10">
          <div class="card-header">Mutant Parent (Optional)</div>
          <div class="card-body">
            <div class="d-flex jc-around">
              <div class="d-flex flex-column jc-center">
                <button
                  type="button"
                  id="multi_d_rightSelected_4"
                  class="add-btn btn btn-outline-success btn-sm"
                >
                  <span class="iconfont icon-arrow-right-filling"></span>

                  ADD
                </button>
                <button
                  type="button"
                  id="multi_d_leftSelected_4"
                  class="btn btn-outline-warning btn-sm"
                >
                  <span class="iconfont icon-arrow-left-filling"></span>
                  REMOVE
                </button>
              </div>
              <div style="flex: 1; margin-left: 10px">
                <select
                  name="to[]"
                  id="multi_d_to_4"
                  class="form-control"
                  size="6"
                  multiple="multiple"
                ></select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card select-to-card">
          <div class="card-header">Background (Optional)</div>
          <div class="card-body">
            <div class="d-flex jc-around">
              <div class="d-flex flex-column jc-center">
                <button
                  type="button"
                  id="multi_d_rightSelected_5"
                  class="add-btn btn btn-outline-success btn-sm"
                >
                  <span class="iconfont icon-arrow-right-filling"></span>

                  ADD
                </button>
                <button
                  type="button"
                  id="multi_d_leftSelected_5"
                  class="btn btn-outline-warning btn-sm"
                >
                  <span class="iconfont icon-arrow-left-filling"></span>
                  REMOVE
                </button>
              </div>
              <div style="flex: 1; margin-left: 10px">
                <select
                  name="to[]"
                  id="multi_d_to_5"
                  class="form-control"
                  size="6"
                  multiple="multiple"
                ></select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bd-callout bd-callout-warning">
  <span>Parameters</span>
</div>

<div class="row mb-20">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">SNP Density/varBScore</div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label for="min_depth" class="col-sm-8 col-form-label">
              Minimum Read Depth
              <span
                class="badge badge-pill badge-info"
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
                title="To filter out low coverage/depth variations. <b>Default 5</b>. Any variation coverage less than the setted value will be ignored."
                >?</span
              >
            </label>
            <div class="col-sm-4">
              <input
                type="input"
                class="form-control"
                id="min_depth"
                placeholder="5"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="w-snp-num" class="col-sm-8 col-form-label"
              >SNP Window Size
              <span
                class="badge badge-pill badge-info"
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
                title="Number of SNP in a slide window. <b>Default 20</b>. Suggest [5-30]. The algorithm will calculate the SNP linkage-coefficient in a window. A smaller value will have better resolution, and the more SNP in a window will eliminate more noise. Please try different parameters to obtain the best results."
                >?</span
              >
            </label>
            <div class="col-sm-4">
              <input
                type="input"
                class="form-control"
                id="w-snp-num"
                placeholder="20"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="s-snp-num" class="col-sm-8 col-form-label"
              >SNP Step Size
              <span
                class="badge badge-pill badge-info"
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
                title="Number of SNP as slide step. <b>Default 5</b>. Suggest [5-20]. A smaller value will have better resolution but it will take more time to calculate. When your data from high generation population, it is feasible to increase the number of SNPs appropriately. The default parameter 5 work well for most data sets."
                >?</span
              >
            </label>
            <div class="col-sm-4">
              <input
                type="input"
                class="form-control"
                id="s-snp-num"
                placeholder="5"
              />
            </div>
          </div>
          <div>
            <label> <b>Allele Frequency Filter</b> </label>
          </div>
          <div class="form-group row">
            <label for="ref_freq" class="col-sm-8 col-form-label"
              >Wild/Mutant
              <span
                class="badge badge-pill badge-info"
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
                title="This parameter will filter out the SNPs with high heterozygosity rate. <b>Default 0.39 for F2; 0.3 for F3/DH/RIL</b>.
              </br>
              <b>F2</b>: The targets genotype of <b>dominant character bulk data from F2 population</b> are heterozygosity, and the candidate gene allele frequency in dominant character bulk expect as 1/3 (Aa 2:1). So, the parameter for F2 should set as 0.36/0.39/0.43 or any other value large than 1/3 and less than 0.45. If your bulk sample from F2 but validate by F3 which two bulk genotypes are expected homozygote. The parameter should set follow the rule as bellow.
              </br>
              <b>F3/RIL/DH</b> and any population genotype are expected homozygote in both tow bulks. The allele frequency is equal or very close to 0 or 1. The parameter could set as 0.1/0.2/0.3 or any other value less than 0.3.
              "
                >?</span
              >
            </label>
            <div class="col-sm-4">
              <input
                type="input"
                class="form-control"
                id="ref_freq"
                placeholder="0.3"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="p_ref_freq" class="col-sm-8 col-form-label"
              >Wild/Mutant Parent
              <span
                class="badge badge-pill badge-info"
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
                title="If the parent data were provided, this parameter will filter out the SNPs with high heterozygosity rate. Usually, most alleles of parent’s genotype are homozygote, the allele frequency is equal or very close to 0 or 1. The value was suggested as <b>0.05 or 0.1</b> to avoid impact of sequencing error."
                >?</span
              >
            </label>
            <div class="col-sm-4">
              <input
                type="input"
                class="form-control"
                id="p_ref_freq"
                placeholder="0.3"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="background_ref_freq" class="col-sm-8 col-form-label"
              >Background
              <span
                class="badge badge-pill badge-info"
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
                title="If you try to add dataset into background to help improve gene mapping, you should be much careful about the genetic background and phenotype of those sample. The expected allele frequency of samples in this bulk depends on what samples you selected. "
                >?</span
              >
            </label>
            <div class="col-sm-4">
              <input
                type="input"
                class="form-control"
                id="background_ref_freq"
                placeholder="0.3"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">QTLseqr/ED/G'</div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label for="qtlseqr_min_depth" class="col-sm-8 col-form-label"
              >Minimum Read Depth
              <span
                class="badge badge-pill badge-info"
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
                title="To filter out low coverage/depth variations. <b>Default 5</b>. Any variation coverage less than the stetted value will be ignored. "
                >?</span
              >
            </label>
            <div class="col-sm-4">
              <input
                type="input"
                class="form-control"
                id="qtlseqr_min_depth"
                placeholder="5"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-8 pt-0">
                Population Structure
                <span
                  class="badge badge-pill badge-info"
                  data-toggle="tooltip"
                  data-placement="top"
                  data-html="true"
                  title="<b>F2</b>: Dominant character bulk data from F2 population is heterozygosity.
            </br>
            <b>RIL/DH</b>: Population genotypes of candidate gene are expected homozygote in both tow bulks.
                "
                  >?</span
                >
              </legend>
              <div class="col-sm-4" style="text-align: right">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="popStruc1"
                    value="RIL"
                    name="pop_stru"
                    checked
                  />
                  <label class="form-check-label" for="popStruc1"> RIL </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="popStruc2"
                    value="F2"
                    name="pop_stru"
                  />
                  <label class="form-check-label" for="popStruc2"> F2 </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="qtlseqr_ref_freq" class="col-sm-8 col-form-label"
              >Ref Allele Frequency
              <span
                class="badge badge-pill badge-info"
                data-toggle="tooltip"
                data-placement="top"
                data-html="true"
                title="Total ref allele coverage of two bulk / total coverage (both refer and allele) of two bulk. <b>Default 0.3</b>. Suggest 0.1~0.5. "
                >?</span
              >
            </label>
            <div class="col-sm-4">
              <input
                type="input"
                class="form-control"
                id="qtlseqr_ref_freq"
                placeholder="0.3"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mb-20">
  <div class="col-4"></div>
  <div class="col">
    <button
      class="btn btn-primary btn-block"
      id="submit"
      type="submit"
      value="Submit"
    >
      Submit
    </button>
  </div>
  <div class="col-4"></div>
</div>

{% endblock %} {% block js %}
<script src="{{ url_for('static', filename='js/utils/bsa.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
