{% extends 'base.html' %} {% block content %}
<div style="margin-top: 100px; margin-bottom: 100px;">
  <div id="task-info" style="margin-bottom: 100px;">
    <h4>
      Your job is under processing, this may take 10 minute to 30 minutes, please
      save the task code and query your results later:
    </h4>
    <h4 style="color: cornflowerblue;">{{ task_id }}</h4>
  </div>

  <div style="margin-top: 100px;">
    <div class="input-group">
      <input
        id="bsa-task-id"
        type="text"
        class="form-control"
        placeholder="Input the task ID 50fef8b5-7e39-4107-a1e2-496d178aa51f"
      />
      <span class="input-group-btn">
        <button id="bsa-task-btn" class="btn btn-default" type="button">
          Go!
        </button>
      </span>
    </div>
    <!-- /input-group -->
  </div>
</div>
{% endblock %} {% block js %}
<script src="{{ url_for('static', filename='js/utils/search_bsa.js') }}"></script>
{% endblock %}
