{% extends 'base.html' %} {% block content %}
<div class="title" style="margin-bottom: 30px;">
  <h3>Citation</h3>
  </br>  
  <h4>Genome and Gene annotation</h4>
  <p>Appels, R., Eversole, K., Feuillet, C., Keller, B., Rogers, J., Stein, N., … Wang, L. (2018). 
     Shifting the limits in wheat research and breeding using a fully annotated reference genome. Science.</p>
  </br>
  <h4>BSA mapping</h4>
  <p>Gorsi, B., Yost, H. J., Demarest, B. L., Bisgrove, B. W., Hill, J. T., & Su, Y.-C. (2013). 
     MMAPPR: Mutation Mapping Analysis Pipeline for Pooled RNA-seq. Genome Research, 23(4), 687–697.</p>
  <p>Mansfeld, B. N., & Grumet, R. (2018). QTLseqr: An R Package for Bulk Segregant Analysis 
     with Next-Generation Sequencing. The Plant Genome, 11(2), 0. </p>
  </br>
  <h4>BSA Demo</h4>
  <p>Harrington, S. A., Cobo, N., Karafiátová, M., Doležel, J., Borrill, P., & Uauy, C. (2019). Identification of a Dominant Chlorosis Phenotype Through a Forward Screen of the Triticum turgidum cv. Kronos TILLING Population. Frontiers in Plant Science, 10. https://doi.org/10.3389/fpls.2019.00963</p>
  <p>Gardiner, L.-J., Bansept-Basler, P., El-Soda, M., Hall, A., & O’Sullivan, D. M. (2019). A framework for gene mapping in wheat demonstrated using the Yr7 yellow rust resistance gene. BioRxiv, 793604. https://doi.org/10.1101/793604</p>

  <h4></h4>

</div>
{% endblock %}
