{% extends 'base.html' %} {% block content %}

<div class="bd-callout bd-callout-info">
  <span>Share Genotype Data</span>
</div>

<div class="card">
  <img
    src="{{url_for('static', filename='images/documents/sharing.png')}}"
    class="card-img-top"
    alt="public_sample"
  />
  <div class="card-body">
    <p class="card-text">
      <b>!!! Once the sample public, the data can be used by everyone.</b>
    </p>
    <p class="card-text">1) Search the samples name you want to public.</p>
    <p class="card-text">2) Select the samples.</p>
    <p class="card-text">3) Click the "Public" button.</p>
  </div>
</div>

<div class="bd-callout bd-callout-warning">
  <span>Share Phenotype Data</span>
</div>

<div class="card mb-20">
  <img
    src="{{url_for('static', filename='images/documents/phenotype.png')}}"
    class="card-img-top"
    alt="public_sample"
  />
  <div class="card-body">
    <p class="card-text">1) Creat a new page for your variety/accession.</p>
    <p class="card-text">2) Provide more phenotype as you can and submit.</p>
    <p class="card-text">3) Linkage the phenotype page to genotype sample.</p>
    <p class="card-text">3) Discuss with us.</p>
  </div>
</div>

{% endblock %} {% block js %}
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
