{% extends 'base.html' %} {% block css %} <link rel="stylesheet" href={{
url_for('static', filename='viewerjs/dist/viewer.css') }}> <link
rel="stylesheet" href={{ url_for('static', filename='css/viewjs.panel.css') }}>
{% endblock %} {% block content %}

<div class="card mb-20">
  <div class="card-header">Resistance vs Susceptible</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr>
              <th scope="row">Wild Phenotype</th>
              <td>Resistance</td>
            </tr>
            <tr>
              <th scope="row">Mutant Phenotype</th>
              <td>Susceptible</td>
            </tr>
            <tr>
              <th scope="row">Wild Bulk</th>
              <td>TCE000001.ERR3790808</td>
            </tr>
            <tr>
              <th scope="row">Mutant Bulk</th>
              <td>TCE000002.ERR3790809</td>
            </tr>
            <tr>
              <th scope="row">Data type</th>
              <td>WES</td>
            </tr>
            <tr>
              <th scope="row">Parameters</th>
              <td>Default</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-7">
        <div>
          <ul
            id="resistance-susceptible"
            class="gallery-pictures d-flex flex-wrap ai-center horizon-center"
          >
            <li>
              <img src="/static/images/gallary/1/circos.png" alt="circos" />
            </li>
            <li><img src="/static/images/gallary/1/freq.jpg" alt="freq" /></li>
            <li><img src="/static/images/gallary/1/ED.png" alt="ED" /></li>
            <li>
              <img src="/static/images/gallary/1/Gprime.jpg" alt="Gprime" />
            </li>
            <li>
              <img src="/static/images/gallary/1/score.jpg" alt="varBCore" />
            </li>
            <li>
              <img src="/static/images/gallary/1/snpIndex.png" alt="snpIndex" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-20">
  <div class="card-header">Normal vs Dwarf [WES]</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr>
              <th scope="row">Wild Phenotype</th>
              <td>Normal</td>
            </tr>
            <tr>
              <th scope="row">Mutant Phenotype</th>
              <td>Dwarf</td>
            </tr>
            <tr>
              <th scope="row">Wild Bulk</th>
              <td>TCE000003.N_CD_188</td>
            </tr>
            <tr>
              <th scope="row">Mutant Bulk</th>
              <td>TCE000004.N_CH_188</td>
            </tr>
            <tr>
              <th scope="row">Data type</th>
              <td>WES</td>
            </tr>
            <tr>
              <th scope="row">Parameters</th>
              <td>Default</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-7">
        <div>
          <ul
            id="normal-dwarf"
            class="gallery-pictures d-flex flex-wrap ai-center horizon-center"
          >
            <li>
              <img src="/static/images/gallary/2/circos.png" alt="circos" />
            </li>
            <li><img src="/static/images/gallary/2/freq.jpg" alt="freq" /></li>
            <li><img src="/static/images/gallary/2/ED.png" alt="ED" /></li>
            <li>
              <img src="/static/images/gallary/2/Gprime.jpg" alt="Gprime" />
            </li>
            <li>
              <img src="/static/images/gallary/2/score.jpg" alt="varBCore" />
            </li>
            <li>
              <img src="/static/images/gallary/2/snpIndex.png" alt="snpIndex" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-20">
  <div class="card-header">Normal vs Dwarf [BSR]</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr>
              <th scope="row">Wild Phenotype</th>
              <td>Normal</td>
            </tr>
            <tr>
              <th scope="row">Mutant Phenotype</th>
              <td>Dwarf</td>
            </tr>
            <tr>
              <th scope="row">Wild Bulk</th>
              <td>TCR000008.R_188_4_H_P_1, TCR000010,R_188_4_H_P_2</td>
            </tr>
            <tr>
              <th scope="row">Mutant Bulk</th>
              <td>TCR000007.R_188_4_D_P_2, TCR000009.R_188_4_D_P_1</td>
            </tr>
            <tr>
              <th scope="row">Data type</th>
              <td>BSR</td>
            </tr>
            <tr>
              <th scope="row">Parameters</th>
              <td>Default</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-7">
        <div>
          <ul
            id="normal-dwarf-bsr"
            class="gallery-pictures d-flex flex-wrap ai-center horizon-center"
          >
            <li>
              <img src="/static/images/gallary/4/circos.png" alt="circos" />
            </li>
            <li><img src="/static/images/gallary/4/freq.jpg" alt="freq" /></li>
            <li><img src="/static/images/gallary/4/ED.png" alt="ED" /></li>
            <li>
              <img src="/static/images/gallary/4/Gprime.jpg" alt="Gprime" />
            </li>
            <li>
              <img src="/static/images/gallary/4/score.jpg" alt="varBCore" />
            </li>
            <li>
              <img src="/static/images/gallary/4/snpIndex.png" alt="snpIndex" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-20">
  <div class="card-header">Green leaf vs Yellow leaf</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr>
              <th scope="row">Wild Phenotype</th>
              <td>Green leaf</td>
            </tr>
            <tr>
              <th scope="row">Mutant Phenotype</th>
              <td>Yellow leaf</td>
            </tr>
            <tr>
              <th scope="row">Wild Bulk</th>
              <td>TCE000006.BNLH</td>
            </tr>
            <tr>
              <th scope="row">Mutant Bulk</th>
              <td>TCE000005.BNHH</td>
            </tr>
            <tr>
              <th scope="row">Data type</th>
              <td>WES</td>
            </tr>
            <tr>
              <th scope="row">Parameters</th>
              <td>Default</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-7">
        <div>
          <ul
            id="green-yellow"
            class="gallery-pictures d-flex flex-wrap ai-center horizon-center"
          >
            <li>
              <img src="/static/images/gallary/3/circos.png" alt="circos" />
            </li>
            <li><img src="/static/images/gallary/3/freq.jpg" alt="freq" /></li>
            <li><img src="/static/images/gallary/3/ED.png" alt="ED" /></li>
            <li>
              <img src="/static/images/gallary/3/Gprime.jpg" alt="Gprime" />
            </li>
            <li>
              <img src="/static/images/gallary/3/score.jpg" alt="varBCore" />
            </li>
            <li>
              <img src="/static/images/gallary/3/snpIndex.png" alt="snpIndex" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block js %}
<script src="{{ url_for('static', filename='viewerjs/dist/viewer.js') }}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  var newGallery1 = new Viewer(
    document.getElementById("resistance-susceptible")
  );
  var normal_vs_dwarf = new Viewer(document.getElementById("normal-dwarf"));
  var green_vs_yellow = new Viewer(document.getElementById("green-yellow"));
  var bsr_normal_vs_dwarf = new Viewer(
    document.getElementById("normal-dwarf-bsr")
  );
</script>
{% endblock %}
