{% extends 'base.html' %} {% block content %}

<div class="card">
  <div style="margin: 0 auto">
    <img
      src="{{ url_for('static', filename='images/documents/WorkFlow.png')}}"
      class="card-img-top mt-50 mb-50"
      alt="Workflow"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">The typical workflow for BSA gene mapping</h5>
    <a
      href="{{ url_for('static', filename='download/document/wheatGmap_Practice.pdf')}}"
      class="btn btn-primary"
      target="_blank"
      >WheatGmap Practice</a
    >
  </div>
</div>

{% endblock %}
