{% extends 'base.html' %} {% block content %}

<div class="card mb-20">
  <div style="margin: 0 auto">
    <img
      src="{{ url_for('static', filename='images/documents/WorkFlow.png')}}"
      class="card-img-top mt-40 mb-40"
      alt="Workflow"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">The typical workflow for BSA gene mapping</h5>
    <a
      href="{{ url_for('static', filename='download/document/wheatGmap_Practice.pdf')}}"
      class="btn btn-primary"
      target="_blank"
      >WheatGmap Practice</a
    >
  </div>
</div>

{% endblock %} {% block js %}
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
