{% extends 'base.html' %}
{% block css %}
{% endblock %}
{% block content %}
<div class="panel-body">
<div class="panel">
  <h2>Query Genome:</h2>
<!--
    <div class="panel-heading">
        <h3 class="panel-title">Select a file, chromosome and input a range. (<span class="text-danger">required</span>, &lt;2M)</h3>
    </div>
<div class="panel-body">
  <div class="row">
    <div class="col-xs-6">
        <div class="form-group">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">File name:</span>
            <select class="selectpicker" data-width="25%" name="file" id="select_file">
                        <option value= selected="selected"></option>
                        {% for file in files %}
                        <option value={{file}}>{{file}}</option>
                        {% endfor %}
            </select>
        </div>
        </div>
            <div class="form-group">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Compared tables:</span>
                <select class="selectpicker" data-width="25%" name="table" id="select-table">
                        <option value= selected="selected"></option>
                        {% for table in tables %}
                        <option value={{ table }}>{{ table }}</option>
                        {% endfor %}
                </select>
            </div>
            </div>
      </div>
    <div class="col-xs-6">
        <div class="form-group">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">Custom GroupA Name:</span>
            <input type="text" id="groupA-name" class="form-control input-group-sm"  name="groupA name" value="">
        </div>
        </div>
        <div class="form-group">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">Custom GroupB Name:</span>
            <input type="text" id="groupB-name" class="form-control input-group-sm"  name="groupB name" value="">
        </div>
        </div>
    </div>
</div>
<div>

  <h2>Select Samples:</h2>
-->
  <div class="panel-heading">
  <h3 class="panel-title">select samples which showed below.</h3>
  </div>
  <div class="row">
    <div class="col-xs-5">
        <select name="from[]" id="multi_d" class="form-control" size="8" multiple="multiple">
          {% for sample in samples %}
             <option value="{{ sample }}">{{ sample }}</option>
          {% endfor %}
        </select>
    </div>

    <div class="col-xs-2">
        <button type="button" id="multi_d_rightAll" class="btn btn-default btn-block" style="margin-top: 20px;"><i class="glyphicon glyphicon-forward"></i>&nbsp;ADD ALL</button>
        <button type="button" id="multi_d_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i>&nbsp;ADD</button>
        <button type="button" id="multi_d_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;REMOVE</button>
        <button type="button" id="multi_d_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i>&nbsp;REMOVE ALL</button>
        <!--
        <hr style="margin: 40px 0 60px;" />

        <button type="button" id="multi_d_rightAll_2" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i>&nbsp;ADD ALL</button>
        <button type="button" id="multi_d_rightSelected_2" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i>&nbsp;ADD</button>
        <button type="button" id="multi_d_leftSelected_2" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;REMOVE</button>
        <button type="button" id="multi_d_leftAll_2" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i>&nbsp;REMOVE ALL</button>

        <hr style="margin: 40px 0 60px;" />

        <button type="button" id="multi_d_rightAll_3" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i>&nbsp;ADD ALL</button>
        <button type="button" id="multi_d_rightSelected_3" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i>&nbsp;ADD</button>
        <button type="button" id="multi_d_leftSelected_3" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;REMOVE</button>
        <button type="button" id="multi_d_leftAll_3" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i>&nbsp;REMOVE ALL</button>
-->
    </div>

    <div class="col-xs-5">
        <b>Selected Samples</b>
        <select name="to[]" id="multi_d_to" class="form-control" size="8" multiple="multiple"></select>
<!--
        <br/><hr/><br/>

        <b>Group B</b>
        <select name="to_2[]" id="multi_d_to_2" class="form-control" size="8" multiple="multiple"></select>

        <br/><hr/><br/>

        <b>Background</b>
        <select name="to_3[]" id="multi_d_to_3" class="form-control" size="8" multiple="multiple"></select>
-->
    </div>
</div>
</div>
  <div class="panel-body">
    <input class="btn btn-primary btn-sm"  id="submit" type="submit"  value="Submit">
  </div>
  <hr/>
    <div id="query_hint"></div>
    <div id="results-table"></div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/utils/query_genome.js') }}"></script>
{% endblock %}
