.cover-tag {
  background-color: #f8f9fa;
  border-radius: 0.5rem;
}

.tag-img {
  margin: 10px;
}

.tag-img img {
  width: 75px;
}

.tag-text {
  margin: 10px;
  font-weight: 200;
  color: #212529;
}
