@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1601366882093'); /* IE9 */
  src: url('iconfont.eot?t=1601366882093#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALAAAsAAAAABrwAAAJzAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgqBEIEMATYCJAMMCwgABCAFhG0HUhvmBcgusG3YkwrVxh2x8WgFAAUAxMN/Y9/um5mvnlYlEkVP37QJ8bSNUIiiSTR6hgql072Ef7mW+SIKk5naY/mqRArt4SaX49nbkgMS5lFVyBpPQrbCcdh3RFZzvVQi2/N5Lqc3gc6O5gfKaa1tw496AcYBBbanFUVWQgEn2EO82kF24jaBpkWaxvnN/SM2prAXBeJISZ+NFfKKIrbqQrVhZxFPVdTTvfSGeRJ9Pv5zYoykktkrD25tRGz5191f9/LV/I4LAaFAwP0VZOxjCnHYWD8wKERuULM+ZB3b16Tg1735nF93g6DYK5+Iv85tb4NttKU7Mnh2t2bAPRLIoFpsrmJ2GTv+cSEGSNn9+mkydPXx/lR03s063du1vn2eDl9/eTCB9ttxu9V+OvLSd/bZ8HGpn3gd1If9uzVOD8ekHwmy6BuB4D287c4ev94q4OfLdgC2QktS33ki+FEGYk8xTHYgF03v6a1kNiBEE6iVUubs9NDneOeE3E2om4xI1ixkyOrWycLuo6LlGKrqTqFpz9b+lhE0KEoDu+4Boe8ZSdd3ZH3vZGE/UDH1hap+DKLpMEYntmyGmjiH4BNEPLjkKiwL4YZoIu48AHma+Zg3RcIJYK1K3DascmsLCsA51tRn0iESXGCZ8024D7Ks5BWWCYRkxERV0zRF04uMsMzZhHMQ8BEQ4QKXOCVUKohgMJmovP8AkE5lfNihqmueAKimRudsBotAbtkLkupenqmdkRyECJyASjluE6aBTKbEVc3TEiBEDPGIaqXJdPoJqt1Y35l/3yFosh/KkSJHMbyKWJ7rGQjShcoyVcjFchmVjAUfYwA=') format('woff2'),
  url('iconfont.woff?t=1601366882093') format('woff'),
  url('iconfont.ttf?t=1601366882093') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1601366882093#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-filling:before {
  content: "\e688";
}

.icon-arrow-right-filling:before {
  content: "\e689";
}

