/*
.container-fluid{
            background-color: #1c699d;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
            background-color: #1c699d;
            color: #ffffff;
}
.nav .navbar .navbar-inverse .navbar-fixed-top > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
            background-color: #1c699d;
            color: #ffffff;
}
*/

body.main {
  margin-top: 80px;
}

.bd-callout {
  padding: 0.75rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  border-radius: 0.24rem;
}

.bd-callout span {
  font-size: large;
  font-weight: 600;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: orange;
}

.bd-callout-success {
  border-left-color: greenyellow;
}

#results_table > tbody > tr > td {
  text-align: center;
}

#results_table > thead:first-child > tr:first-child > th {
  text-align: center;
}

/* navbar */
.navbar-default {
  background-color: #1c699d;
  border-color: #e7e7e7;
}

/* Title */
.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}

/* Link */
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1c699d;
  background-color: #e7e7e7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #1c699d;
  background-color: #ffffff;
}

/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #1c699d;
  border-bottom-color: #1c699d;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #1c699d;
  border-bottom-color: #1c699d;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #1c699d;
  border-bottom-color: #1c699d;
}

/* Mobile version */
.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ccc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
  }
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* flex */

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.jc-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.jc-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jc-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jc-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.ai-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.ai-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ai-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.ta-center {
  text-align: center;
}

.user-img {
  width: 300px;
  height: auto;
}

.photo-upload {
  margin: 30px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.user-info-main {
  margin-bottom: 30px;
}

.user-info-item {
  margin-bottom: 10px;
}

.user-info-table {
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e4e8;
}

.add-btn {
  margin-bottom: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 50px;
}

.mt-40 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.expression-echart-canvas {
  width: 1200px;
  height: 600px;
}

.fs-13 {
  font-size: 13px;
}

.m-10 {
  margin: 10px;
}

.horizon-center {
  margin: 0 auto;
}

.py-3 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

main > .container {
  padding: 80px 15px 0;
}

.text-muted {
  color: #6c757d !important;
}

.footer {
  border-top: solid 1px #ddd;
}
