.question-info {
  text-align: center;
}

.answer-list li {
  list-style: none;
  border-bottom: 1px solid #eee;
}

.avatar {
  width: 30px;
  border-radius: 50%;
}

.user-info {
  font-size: 15px;
  color: #9b9b9b;
  line-height: 40px;
}

.user-info .username {
  margin-left: 15px;
}

.answer-content {
  margin-left: 50px;
}

.user-info .create-time {
  float: right;
}

span.comment-number {
  font-weight: normal;
  margin-left: 10px;
}

.comment-input {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.comment-input textarea {
  width: 100%;
  height: 80px;
}

.comment-title {
  margin-bottom: 20px;
}

.comment-body {
  padding-top: 10px;
}

.comment-top {
  background-color: rgb(241, 250, 241);
}

.comment-author p {
  margin-bottom: 0px;
  font-size: 15px;
}

.comment-time p {
  font-size: 12px;
  color: darkgray;
}

.comment-content p {
  font-size: 16px;
}

.comment-back button {
  border: none;
  color: darkgray;
  background-color: #fff;
  padding: 0;
}

.comment-back span {
  top: 3px !important;
}

.reply-region {
  padding-left: 60px;
  margin-top: 20px;
}

.reply-top {
  background-color: rgb(243, 245, 247);
}

.reply-author p {
  margin-bottom: 0px;
  font-size: 14px;
}

.reply-time p {
  font-size: 11px;
  color: darkgray;
}

.reply-content p {
  font-size: 15px;
}

.form-variety {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}

.form-variety .form-group {
  margin-bottom: 0;
}

.form-variety label {
  line-height: 35px;
  font-size: 13px;
}

.va-edit .form-group-sm .va-form-select {
  padding-left: 5px;
}

.va-edit .form-control,
input {
  border-width: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.va-edit {
  margin-top: 50px;
}

.va-edit label {
  font-weight: normal;
}

.va-edit h4 {
  font-size: 14px;
  font-weight: 600 !important;
}

.va-edit button {
  border-color: #fff;
  background-color: #fff;
}

.variety-view table {
  width: 400px;
}

.variety-view th {
  width: 200px;
}

.bootstrap-table .search input {
  margin-bottom: 5px;
}

.va-info-table button {
  margin-top: 5px;
}

td {
  vertical-align: middle !important;
}

.va-img {
  width: auto;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 5px solid #fff;
}

.delete-img-btn {
  display: none;
  margin-bottom: 10px;
}

.va-img-set {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.img-set-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-set-example {
  display: none;
}

#my-dropzone {
  margin: 10px 0;
}

.va-img-upload {
  margin: 30px 0;
  display: none;
}

.va-img-display {
  margin: 30px 0;
}
