{% extends 'base.html' %} {% block content %}
<div class="panel-body">
  <h2>Public Samples:</h2>
  <div class="search-box" style="display: flex; margin-bottom: 1rem;">
      <div class="input-box" style="margin-right: 1rem;">
            <div class="form-group">
              <input type="text" class="form-control" id="searchVal"/>
            </div>
      </div>
      <div class="search-btn">
          <button id="searchItem" class="btn btn-primary">Search</button>
          <button id="resetSearch" class="btn btn-warning">Reset</button>
      </div>
  </div>

  <table id="samples" class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">WG ID</th>
        <th class="th-sm">Sample Name</th>
        <th class="th-sm">Type</th>
        <th class="th-sm">Scientific Name</th>
        <th class="th-sm">Variety ID</th>
        <th class="th-sm">Tissue</th>
        <th class="th-sm">Age</th>        
        <th class="th-sm">Phenotype</th>
        <th class="th-sm">Pooled Sample</th>
        <th class="th-sm">Submitter</th>
        <th class="th-sm">DOI</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %} {% block js %}
<script>
  $(document).ready(function () {
    var search_item = {};
    const tableColumns = [
        { data: "tc_id", bSortable: true, title: "WG ID" },
        { data: "sample_name", bSortable: true, title: "Sample Name" },
        { data: "type", bSortable: true, title: "Type" },
        { data: "scientific_name", bSortable: true, title: "Scientific Name" },
        { data: "variety_name", bSortable: true, title: "Variety ID" },
        { data: "tissue", bSortable: true, title: "Tissue" },
        { data: "age", bSortable: true, title: "Age" },
        {
          data: "bulked_segregant",
          bSortable: true,
          title: "Phenotype",
        },
        { data: "mixed_sample", bSortable: true, title: "Pooled Sample" },
        { data: "provider", bSortable: true, title: "Submitter" },
        { data: "dol", bSortable: true, title: "DOI" },
      ]
    var sampleTable = $("#samples").DataTable({
      serverSide: true,
      processing: true,
      pageLength: 20,
      paging: true,
      ordering: true,
      searchable: false,
      searching: false,
      pagingType: "full_numbers",
      scrollX: true,
      dom: "lBfrtip",
      columns: tableColumns,
      columnDefs: [
        {
          title: "WG ID",
          name: "tc_id_1",
          data: "tc_id",
          targets: [0],
          render: function (data) {
            return "<a href='/data/samples/" + data + "/'>" + data + "</a>";
          },
        },
        {
          title: "Variety ID",
          name: "variety_name_5",
          data: "variety_name",
          targets: [4],
          render: function (data) {
            if (data != "-") {
              return "<a href='/variety/detail/" + data + "/'>" + data + "</a>";
            } else {
              return data;
            }
          },
        },
        {
          title: "Submitter",
          name: "provider_17",
          data: "provider",
          targets: [-2],
          render: function (data) {
            return "<a href='/data/user/" + data + "/'>" + data + "</a>";
          },
        },
      ],
      ajax: function (data, callback) {
        var param = {};
        param.draw = data.draw;
        param.start = data.start;
        param.length = data.length;
        //param.search = data.search.value;
        param.search = search_item;
        param.page = param.start / param.length + 1;
        if (data.order) {
          param.order = data.order[0]["dir"] + " " + data.order[0]["column"];
        } else {
          param.order = "";
        }
        $.ajax({
          type: "POST",
          url: "{{ url_for('data.data_dt') }}",
          data: { data: JSON.stringify(param) },
          success: function (res) {
            var returnData = {};
            returnData.draw = res.draw;
            returnData.recordsTotal = res.recordsTotal;
            returnData.recordsFiltered = res.recordsFiltered;
            returnData.data = res.data;
            callback(returnData);
          },
          error: function () {
            console.log("error");
          },
        });
      },
    });
    $("#searchItem").on("click", function () {
      const inputVal = $("#searchVal")[0].value;
      tableColumns.map(val => {
        search_item[val.data] = inputVal
      })
      console.log(search_item)
      sampleTable.ajax.reload();
    });

    $("#resetSearch").on("click", function () {
      $("#searchVal")[0].value = ""
      search_item = {}
      sampleTable.ajax.reload();
    });
  });
</script>
{% endblock %}
