{% extends 'base.html' %} {% block content %}
<div class="title" style="margin-bottom: 30px;">
  <h3>{{data.sample_name}}</h3>
  <p>
    ID: {{ data.tc_id }}, created at {{data.create_time}}
  </p>
</div>

<div class="va-img-display">
  <div
    class="img-set-example"
    figId="{{exampleFig.id}}"
    figNum="{{leftFigNum}}"
  >
    <div>
      <a href="{{exampleFig.url}}" data-lightbox="sample-img">
        <img class="va-img" src="{{exampleFig.url}}" />
      </a>
    </div>
    <div>
      <button
        figId="{{exampleFig.id}}"
        class="delete-img-btn btn btn-danger btn-xs"
      >
        delete
      </button>
    </div>
  </div>
  <div class="va-img-set">
    {% for fig in figs %}
    <div class="img-set-item" setFigId="{{fig.id}}">
      <div>
        <a href="{{fig.url}}" data-lightbox="sample-img">
          <img class="va-img" src="{{fig.url}}" />
        </a>
      </div>
      {% if isProvider %}
      <div>
        <button
          imgDb="data"
          figId="{{fig.id}}"
          class="delete-img-btn btn btn-danger btn-xs"
        >
          delete
        </button>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% if isProvider %}
  <div>
    <button
      id="add-fig-btn"
      class="btn btn-sm btn-success"
      figNum="{{leftFigNum}}"
    >
      Add Photos
    </button>
  </div>
  {% endif %}
</div>

<div class="va-img-upload">
  <form
    action="{{ url_for('data.upload_img', data_id=data.id) }}"
    id="my-dropzone"
    class="dropzone"
    method="POST"
    enctype="multipart/form-data"
  ></form>
  <button id="upload-btn" class="btn btn-warning">
    Confirm
  </button>
</div>

<div class="variety-view">
  <h4>Data information</h4>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Data Type</th>
        <td>{{data.type}}</td>
      </tr>
      <tr>
        <th scope="row">Scientific</th>
        <td>{{data.scientific_name}}</td>
      </tr>
      <tr>
        <th scope="row">Variety</th>
        <td>
          {% if va_name %}
          <a
            href="{{ url_for('variety.detail', variety_id=data.variety_name) }}"
          >
            {{data.variety_name}} ({{va_name}})
          </a>
          {% else %} {{data.variety_name}} {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">High Level Tissue</th>
        <td>{{data.high_level_tissue}}</td>
      </tr>
      <tr>
        <th scope="row">High Level Age</th>
        <td>{{data.high_level_age}}</td>
      </tr>
      <tr>
        <th scope="row">Treatments</th>
        <td>{{data.treatments}}</td>
      </tr>
      <tr>
        <th scope="row">Tissue</th>
        <td>{{data.tissue}}</td>
      </tr>
      <tr>
        <th scope="row">Age</th>
        <td>{{data.age}}</td>
      </tr>
      <tr>
        <th scope="row">Stress Disease</th>
        <td>{{data.stress_disease}}</td>
      </tr>
      <tr>
        <th scope="row">DOI</th>
        <td>{{data.dol}}</td>
      </tr>
      <tr>
        <th scope="row">Bulked Segregant</th>
        <td>{{data.bulked_segregant}}</td>
      </tr>
      <tr>
        <th scope="row">Mixed Sample</th>
        <td>{{data.mixed_sample}}</td>
      </tr>
      <tr>
        <th scope="row">Mutant Transgenosis</th>
        <td>{{data.mutant_transgenosis}}</td>
      </tr>
      <tr>
        <th scope="row">Other Inf</th>
        <td>{{data.other_inf}}</td>
      </tr>
      <tr>
        <th scope="row">Provider</th>
        <td>
          <a href="{{url_for( 'data.users', username=data.provider)}}"
            >{{data.provider}}</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="comment-input">
  <form
    method="post"
    action="{{ url_for('data.dataDetail', tc_id=data.tc_id) }}"
  >
    {{ form.csrf_token }} {{ form.content(placeholder="Add your comment ......")
    }}
    <div class="form-group" style="text-align: right;">
      <button class="btn btn-default" type="submit" value="Add">Add</button>
    </div>
  </form>
</div>

<div class="comment-region">
  <div class="comment-title">
    <h3>
      Comments
    </h3>
  </div>
  {% for comm_i in comments %}
  <div class="comment-body">
    <div class="comment-top">
      <div class="comment-author">
        <p>
          <a href="{{url_for( 'data.users', username=comm_i.provider_name)}}"
            >{{ comm_i.provider_name }}</a
          >
        </p>
      </div>
      <div class="comment-time">
        <p>{{ comm_i.create_time }}</p>
      </div>
    </div>
    <div class="comment-content">
      <p>{{comm_i.content}}</p>
    </div>
    <div class="comment-back">
      <button
        class="comment-back-btn"
        id="{{ url_for('variety.reply', commentId=comm_i.id) }}"
      >
        <span class="glyphicon glyphicon-comment"></span>
        Reply
      </button>
    </div>

    {% for reply_i in comm_i.reply %}
    <div class="reply-region">
      <div class="reply-body">
        <div class="reply-top">
          <div class="reply-author">
            <p>
              <a
                href="{{url_for( 'data.users', username=reply_i.provider_name)}}"
                >{{ reply_i.provider_name }}</a
              >
            </p>
          </div>
          <div class="reply-time">
            <p>{{ reply_i.create_time }}</p>
          </div>
        </div>
        <div class="reply-content">
          <p>{{reply_i.content}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %} {% block js %}
<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
<script src="{{ url_for('static', filename='js/lightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils/reply.js') }}"></script>
{% endblock %}
