{% extends 'base.html' %} {% block content %}
<div class="panel-body">
  <h2>Public Samples:</h2>
  <table id="samples" class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">TC ID</th>
        <th class="th-sm">Name</th>
        <th class="th-sm">Type</th>
        <th class="th-sm">Scientific</th>
        <th class="th-sm">Variety ID</th>
        <th class="th-sm">High Level Tissue</th>
        <th class="th-sm">High Level Age</th>
        <th class="th-sm">Treatments</th>
        <th class="th-sm">Tissue</th>
        <th class="th-sm">Age</th>
        <th class="th-sm">Stress Disease</th>
        <th class="th-sm">DOI</th>
        <th class="th-sm">Bulked Segregant</th>
        <th class="th-sm">Mixed Sample</th>
        <th class="th-sm">Mutant Transgenosis</th>
        <th class="th-sm">Other Inf</th>
        <th class="th-sm">Provider</th>
      </tr>
    </thead>
    <tbody>
      {% for sample in samples %}
      <tr>
        <td>
          <a href="/data/samples/{{ sample.tc_id}}/">{{ sample.tc_id }}</a>
        </td>
        <td>{{ sample.sample_name }}</td>
        <td>{{ sample.type }}</td>
        {% if sample.scientific_name is none %}
        <td>-</td>
        {% else %}
        <td>{{ sample.scientific_name }}</td>
        {% endif %} {% if sample.variety_name is none %}
        <td>-</td>
        {% else %}
        <td>
          <a href="/variety/detail/{{ sample.variety_name}}/"
            >{{ sample.variety_name }}</a
          >
        </td>
        {% endif %} {% if sample.high_level_tissue is none %}
        <td>-</td>
        {% else %}
        <td>{{ sample.high_level_tissue }}</td>
        {% endif %} {% if sample.high_level_age is none %}
        <td>-</td>
        {% else %}
        <td>{{ sample.high_level_age }}</td>
        {% endif %} {% if sample.treatments is none %}
        <td>-</td>
        {% else %}
        <td>{{ sample.treatments }}</td>
        {% endif %} {% if sample.tissue is none %}
        <td>-</td>
        {% else %}
        <td>{{ sample.tissue }}</td>
        {% endif %} {% if sample.age is none %}
        <td>-</td>
        {% else %}
        <td>{{ sample.age }}</td>
        {% endif %} {% if sample.stress_disease is none %}
        <td>-</td>
        {% else %}
        <td>{{ sample.stress_disease }}</td>
        {% endif %} {% if sample.dol is none %}
        <td>-</td>
        {% else %}
        <td>{{ sample.dol }}</td>
        {% endif %} {% if sample.bulked_segregant is none %}
        <td>-</td>
        {% else %}
        <td>{{ sample.bulked_segregant }}</td>
        {% endif %} {% if sample.mixed_sample is none %}
        <td>-</td>
        {% else %}
        <td>{{ sample.mixed_sample }}</td>
        {% endif %} {% if sample.mutant_transgenosis is none %}
        <td>-</td>
        {% else %}
        <td>{{ sample.mutant_transgenosis }}</td>
        {% endif %} {% if sample.other_inf is none %}
        <td>-</td>
        {% else %}
        <td>{{ sample.other_inf }}</td>
        {% endif %}
        <td>
          <a href="/data/user/{{ sample.provider }}/">{{ sample.provider }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} {% block js %}
<script>
  $(document).ready(function () {
    $("#samples").DataTable({
      dom: "lBfrtip",
      scrollX: true,
    });
  });
</script>
{% endblock %}
