{% extends 'base.html' %} {% block content %}
<div class="mapping-choose-box d-flex jc-around ai-center">
  <div class="mapping-choose-item">     
    <a 
        {% if dest == 'bsa-mapping' %}
        href="{{ url_for('mapping.bsa_base_anony', task_id='no') }}"
        {% elif dest == 'var-filter' %}
        href="{{ url_for('mapping.var_filter_anony', task_id='no') }}"        
        {% elif dest == 'var-by-group' %}
        href="{{ url_for('mapping.compare_group_anony', task_id='no') }}"
        {% elif dest == 'var-by-sample' %}
        href="{{ url_for('variants.query_sample_anony', task_id='no') }}"
        {% elif dest == 'var-density' %}
        href="{{ url_for('variants.var_density_anony', task_id='no') }}"
        {% elif dest == 'igv' %}
        href="{{ url_for('variants.igv_anony', task_id='no') }}"            
        {% else %}
        href="#"
        {% endif %}
    >
      <button type="button" class="btn btn-success btn-lg mapping-choose-btn">
        Public Data
      </button>
    </a>
  </div>

  <div class="mapping-choose-item">
      
    <a 
        {% if dest == 'bsa-mapping' %}
        href="{{ url_for('main.anony_upload', dest='bsa-mapping') }}"
        {% elif dest == 'var-filter' %}
        href="{{ url_for('main.anony_upload', dest='var-filter') }}"    
        {% elif dest == 'var-by-group' %}
        href="{{ url_for('main.anony_upload', dest='var-by-group') }}"    
        {% elif dest == 'var-by-sample' %}
        href="{{ url_for('main.anony_upload', dest='var-by-sample') }}"        
        {% elif dest == 'var-density' %}
        href="{{ url_for('main.anony_upload', dest='var-density') }}"       
        {% elif dest == 'igv' %}
        href="{{ url_for('main.anony_upload', dest='igv') }}"              
        {% else %}    
        href="#"
        {% endif %}   
    >
      <button type="button" class="btn btn-warning btn-lg mapping-choose-btn">
        Upload Data
      </button>
    </a>
  </div>
</div>
{% endblock %} {% block js %}
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
