{% extends 'base_cover.html' %} {% block content %}

<div class="container marketing" style="margin-top: 30px">
  <div class="d-flex jc-around">
    <div>
      <a href="https://www.sicau.edu.cn/" target="_blank">
        <img
          class="img"
          src="{{ url_for('static', filename='images/SCAU.jpg')}}"
          alt="Generic placeholder image"
          width="auto"
          height="60"
        />
      </a>
    </div>

    <div>
      <a href="http://www.icscaas.com.cn/" target="_blank">
        <img
          class="img"
          src="{{ url_for('static', filename='images/CAAS_LOGO.png')}}"
          alt="Generic placeholder image"
          width="auto"
          height="60"
        />
      </a>
    </div>

    <div>
      <a href="http://www.tcuni.com/" target="_blank">
        <img
          class="img"
          src="{{ url_for('static', filename='images/logo.png')}}"
          alt="Generic placeholder image"
          width="auto"
          height="60"
        />
      </a>
    </div>
  </div>
  <!-- /show institut logo -->
</div>
{% endblock %} {% block js %}
<script src="{{ url_for('static', filename='js/utils/bsa.js') }}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
